<h1>Generates#z</h1>
<p>Find me in app/views/generates/z.html.erb</p>
<%= @hello %>

<div class="jumbotron">
	<h1>JUMBOOOOOOTRONNNNNNN!!!!!!!!!!!!!!!!!!</h1>
</div>

<% render = '/generates/display_students' %>